.dark {
	--bg-color: #000;
	--main-color: white;
	--twitter-color: #1A8CD8;
	--lightGray-color: #273340;
	--form-bg-clr: #15172b;
}

.light {
	--bg-color: rgb(247, 247, 247);
	--main-color: black;
	--twitter-color: #1A8CD8;
	--lightGray-color: #E7E7E8;
	--form-bg-clr: #4553f3;
}


.homePage {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 450px;
	height: 450px;
	border: 2px solid #08d;
	border-radius:20px;
	backdrop-filter: blur(10px);
	/* transform-style: preserve-3d;
	perspective: 1000px; */
	/* background-color: rgba(240, 240, 240, 0.3); */
	transition: 1s;
}
.card>p {
	color: #06b;
}

.card>p>a {
	text-decoration: none;
	text-decoration: underline;
	/* color: #06b */
	color: var(--main-color);
	transition: 1s;
	font-weight: 600;
}

/* .homePage{
  
} */

.App {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-color);
	color: var(--main-color);
	transition: 1s;
}

.form {
	background-color: var(--form-bg-clr);
	border-radius: 0px 0px 20px 20px;
	box-sizing: border-box;
	padding: 20px;
	width: 320px;
	transition: 1s;
	/* box-shadow: 7px 7px 12px 1px var(--main-color); */
}

.themeBtn {
	transition: 1s;
	cursor: pointer;
	margin: 10px;
	padding: 5px;
	height: 40px;
	width: 40px;
	font-size: 25px;
	border-radius: 50%;
	border-style: none;
	border: none;
	background-color: var(--bg-color);
	color: var(--main-color);
	transition: 1s;
	border: 1px solid gray;
	position: absolute;
	top: 40px;
	right: 20px;
}

.siderbar>button:hover {
	transform: scale(1.1);
	opacity: 0.8;
}

.title {
	color: var(--main-color);
	font-size: 36px;
	font-weight: 600;
	margin-top: 20px;
	transition: 1s;
}

.subtitle {
	color: var(--main-color);
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
	transition: 1s;
}

.input-container {
	height: 50px;
	position: relative;
	width: 100%;
}

.ic1 {
	margin-top: 40px;
}

.ic2 {
	margin-top: 30px;
}

.input {
	background-color: #303245;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	font-size: 18px;
	height: 100%;
	outline: 0;
	padding: 4px 20px 0;
	width: 100%;
	font-family: inherit;
}

.cut {
	background-color: var(--form-bg-clr);
	border-radius: 10px;
	height: 20px;
	left: 20px;
	position: absolute;
	top: -20px;
	transform: translateY(0);
	transition: transform 200ms;
	width: 76px;
	transition: 1s;
}

.cut-short {
	width: 50px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
	transform: translateY(8px);
}

.placeholder {
	color: #65657b;
	left: 20px;
	line-height: 14px;
	pointer-events: none;
	position: absolute;
	transform-origin: 0 50%;
	transition: transform 200ms, color 200ms;
	top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
	transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
	color: var(--main-color)
}

.input:focus~.placeholder {
	color: var(--main-color);
}

.showPassword {
	color: rgb(212, 211, 211);
	font-size: 14px;
	font-weight: 200;
	color: var(--main-color);
	transition: 1s;
}

/* Button hover CSS from https://codepen.io/vajkri/pen/zrRxmQ */
.mainDiv {
	overflow: hidden;
	border-radius: 12px;
	display: flex;
	transform: translate(-00%, 13%);
	color: rgb(222, 26, 26);
}

.mainDiv:nth-child(2) {
	position: absolute;
	top: 50%;
	left: 58%;
	transform: translate(-50%, -50%);
}

.submitBtn {
	color: var(--main-color);
	background-color: #08d;
	border-radius: 12px;
	padding: 15px 30px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 4px;
	height: 60px;
	transition: 1s;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	outline: 0;
	text-align: center;
	width: 100%;
	font-family: inherit;
	/* box-shadow: 0px 0px 10px black inset; */
}

.submitBtn:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 200px;
	background: linear-gradient(to right, transparent 10%, rgba(255, 255, 255, 0.5) 50%, transparent);
	transform: translate(-50%, -50%);
	left: -150%;
	transition: 0.6s;
}

.submitBtn:hover:before {
	left: 150%;
}

.submitBtn:active {
	background-color: #06b;
}

/* submit btn end*/


/* error msg style */
.errorSpan {
	color: red;
	/* color: rgb(254, 46, 46); */
	font-size: 12px;
	font-weight: 600;
	margin: 0px;
}

.showPswBtn {
	color: white;
	background: transparent;
	border: none;
	position: absolute;
	top: 12px;
	right: 14px;
	font-size: 25px;
	transition: 0.6s;
}


/* router nav btns */
.routerNavBtns {
	background-color: var(--form-bg-clr);
	color: var(--main-color);
	border-radius: 20px 20px 0px 0px;
	/* box-sizing: border-box;*/
	height: 50px;
	transition: 1s;
	width: 320px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* flex-wrap: wrap; */

	/* width: 100%; */
}

.routerNavBtns>a {
	display: flex;
	justify-content: center;
	width: 33%;
	text-decoration: none;
	color: var(--main-color);
	/* font-size: 36px; */
	font-weight: 400;
	transition: 1s;
	/* flex-wrap: wrap; */

}

.routerNavBtns>a:nth-child(2) {
	border-left: 2px solid var(--main-color);
	border-right: 2px solid var(--main-color);
}

/* router nav btns */

/* Footer/links */
.iconscontainer {
    list-style: none;
    display: flex;
	justify-content: center;
	align-items: center;
    /* fill: #ffffff; */
    margin-top: 45px;
    width: 200px;
	/* border: 2px solid red; */
}

.iconscontainer>li>a {
    padding-right: 15px;
	font-size: 30px;
	color: #08d ;
    /* fill: white; */
    /* width: 18px; */
    cursor: pointer;
}

.iconscontainer>li>a:hover {
	color: rgb(30, 161, 242) ;
}
/* Footer/links end*/

/* 
@media only screen and (max-width: 1135px) {
	.mainDiv:nth-child(2) {
		top: 60%;
		left: 50%;
	}
	.mainDiv:nth-child(1) {
		top: 45%;
		left: 50%;
	}
} */
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



@media only screen and (max-width: 535px) {
	/* .title {
	  background-color: red;
	} */

	.card{
		width: 99%;
		padding: 5px;
	}
	.iconscontainer>li>a {
		padding-right: 10px;
		font-size: 15px;
	}
  }
